<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.Direction }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <link rel="canonical" href="{{ .Permalink }}">

    {{- partial "head.html" . }}
</head>
<body class="mod-{{.Kind}}">
    <script>
        {{- partial "schema.html" . }}
    </script>

    {{- partial "header.html" . }}

    <main class="main">
        {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . }}

    <script>
        {{- partial "javascript.html" . }}
    </script>
</body>
</html>
