{{- define "main" }}

{{- if eq .Type "about" }}
<div class="page-single-about">
  <article class="post-single">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>

    {{- if .Params.clearances }}
    <div class="about-separator"></div>
    {{- end }}
  </article>
</div>
{{- else }}
<article class="post-single">
  <header class="post-header">
    {{- $isHidden := .Params.cover.hidden }}
    {{- if and $isHidden (eq $isHidden true) }}
    {{- else }}
      {{- if .Params.cover.image }}
      <figure class="post-cover" style="--ratio: {{ .Params.cover.relative | default 100 }}%;">
        {{- if .Params.cover.relative }}
          <img loading="lazy" src="{{ .Params.cover.image | absURL }}" alt="{{ .Params.cover.alt }}" />
        {{- else }}
          <img loading="lazy" src="{{ .Params.cover.image | absURL }}" alt="{{ .Params.cover.alt }}" />
        {{- end }}
      </figure>
      {{- if .Params.cover.caption }}<p class="cover-caption">{{ .Params.cover.caption }}</p>{{- end }}
      {{- end }}
    {{- end }}

    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="error">DRAFT</span></sup>{{- end }}
    </h1>
    {{- if .Params.description }}
    <p class="post-description">{{ .Params.description }}</p>
    {{- end }}

    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . }}
    </div>
    {{- end }}
  </header>

  {{- $toc := .TableOfContents }}
  {{- if and (gt (len $toc) 20) (not (.Param "disableToc")) }}
  <details id="toc-container" class="toc">
    <summary class="toc-title">
      {{- $dictsContent := T "toc" }}
      {{- if $dictsContent }}{{ $dictsContent }}{{ else }}Table of Contents{{ end }}
    </summary>
    <div class="toc-content">
      {{ $toc }}
    </div>
  </details>
  {{- end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{- partial "post_footer.html" . }}
  </footer>

  {{- if (.Param "ShowCodeCopyButtons") }}
  <script>
    document.querySelectorAll('pre > code').forEach(codeblock => {
      const container = codeblock.parentNode.parentNode;
      const copybutton = document.createElement('button');
      copybutton.classList.add('copy-code');
      copybutton.innerHTML = 'copy';

      function copyingDone() {
        copybutton.innerHTML = 'copied!';
        setTimeout(() => {
          copybutton.innerHTML = 'copy';
        }, 2500);
      }
      copybutton.addEventListener('click', (cb) => {
        cb.preventDefault();
        if ('clipboard' in navigator) {
          navigator.clipboard.writeText(codeblock.textContent);
          copyingDone();
          return;
        }

        const textArea = document.createElement('textarea');
        textArea.textContent = codeblock.textContent;
        textArea.style.position = 'fixed';
        textArea.style.left = '-999999px';
        document.body.prepend(textArea);
        textArea.select();
        try {
          document.execCommand('copy');
          copyingDone();
        } catch (error) {
          alert(error);
        } finally {
          textArea.remove();
        }
      });

      if (container.classList.contains('highlight')) {
        container.appendChild(copybutton);
      } else if (codeblock.parentNode.firstChild == codeblock) {
        codeblock.parentNode.parentNode.appendChild(copybutton);
      } else if (codeblock.parentNode.parentNode.firstChild == codeblock.parentNode) {
        codeblock.parentNode.parentNode.parentNode.appendChild(copybutton);
      }
    });
  </script>
  {{- end }}
</article>
{{- end }}

{{- if not (.Param "DisableComments") }}
  {{- partial "comments.html" . }}
{{- end }}

{{- end }}
